
.nav2 ul {
    text-align: center;
    list-style: none;
    background-color:#44a5b5;
    margin-bottom: 15px;
}

.nav2 li {
    display: inline-block;
}

.nav2 a {
    padding: 9px;
    display: block;
    /* width: 100px; */
    text-decoration: none;
    background-color: #44a5b5;
    color: white;
}

.nav2 a:hover {
    background-color: #344e5f;
}

@media screen and (max-width:580px) {
    .nav2 li, body {
        display: block;
    }
    .nav2 ul{
        padding: 0%;
        margin: 0%;
    }

    .nav2 a {
        background-color: rgb(243, 146, 1);
    }

    body {
        background-color: bisque;
    }
}

@media screen and (min-width:1080px) {

    .nav2 a, .nav2 ul {
        background-color: rgb(120, 176, 29);
    }

    body {
        background-color: rgb(205, 158, 236);
    }

}