@media screen and (max-width:580px) {

    .nav2 li, body {
        display: block;
    }
    
    .nav2 ul{
      padding: 0%;
      margin: 0%;
   }

    .loki, .leo {
      width: auto;
    }

    .loki {
      background-color: rgb(186, 247, 226);
    }

    .leo {
      margin: 5px;
      background-color: rgb(181, 149, 196);
    }

    
}

@media screen and (min-width:1080px) {
  .loki {
    background-color: rgb(238, 247, 186);
  }

  .leo {
    margin: 5px;
    background-color: rgb(196, 174, 149);
  }
}